.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  width: 35rem;
  height: 30rem;
  font-size: 1.2rem;
  margin-top:10rem ;
  margin-bottom: 50rem;
  border: 1px solid gray;
}

.user h4{
  margin-bottom: 3rem;
}
.user input{
  display: flex;
  width: 17rem;
  margin: 1rem;
  padding: 1rem;
}

.user button{
  width: 17rem;
  margin-top: 2rem;
  padding: 1rem 1rem;
  background-color:#FFAF13 ;
  border-radius: 7px;
}