.navbar-left{
  font-size : 2rem;
  width:20%;
  position:fixed;
  top:-50px;
  height: 100%;
  background:black;
  color:white;
  padding : 20px;
  box-sizing:content-box;
}
.left-text-white{
  text-decoration: none;
  color:white;
  display:inline-block;
  width:24rem;
  border:solid white;
  display:ruby-text-container;
}
.left-menu{
  padding-top:200px;
  list-style:none;
}

.fas-arrow{
  text-align: right;
  float:right;
}