.navbar-left{
  font-size : 2rem;
  width:20%;
  float:left;
  position:fixed;
  height: 100%;
  background:black;
  color:white;
  padding : 20px;
  box-sizing:content-box;
}
.left-text-white{
  text-decoration: none;
  color:white;
}
.left-menu{
  padding-top:200px;
  list-style:none;
}
