.button-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-container p{
  margin-top: 2rem;
}
.buttons{
  border-radius: 2rem;
  font-size: 1.5rem;
  background-color: #F79301;
  color: black;
  cursor: pointer;
  border: 3px solid black;
  width: 7rem;
  height: 2.5rem;
  margin: 2rem;

}
.count{
  font-size: 2rem;
  color: aliceblue;
}
.buttons:hover{
  background-color: #ddb578;
}