h1{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: start;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    margin: 2rem;
}
.infoVideo{
    margin: 1rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
a{
    color: orange;
}
#separator{
    width: 50%;
    border: rgba(211, 211, 211, 0.384) solid 1px;
}