.carousel{
  position: fixed;
  background-color: black;
  padding-top: 150px;
  right:0;
  top: 0;
  width: 15rem;
  z-index: 1;
}
.carousel img{
  width: 15rem;
  height:90vh;
} 
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  display: none;
}
.alice-carousel__dots {
  display: none;
}